// Шрифты: 

  $SpaceGrotesk: 'Space Grotesk', sans-serif;
  $Inter: 'Inter', sans-serif;

// Цвета заднего фона: 

  // Общие цвета:

  $DarkBgTheme: #1e1e1e;
  $DarkBgBlocksTheme: #141414;
  $WhiteBgBlocksTheme: #ffffff;
  $WhiteBgTheme: #ffffff;

  // Цвета фона в SettingsComp:

  $DarkInputsColor: #1e1e1e;
  $WhiteInputsColor: #ffffff;
  $InputsBorderColor: #747474;

  // Общий цвет для границ:

  $BorderColor: rgba(116, 116, 116, 0.5);

  // Общий цвет фона для кнопок:

  $BgButtonColor: #3d5aff;

  // Цвет заглушек ожидания подгрузки данных:

  $LoadingColor: rgba(116, 116, 116, 0.5);

// Цвета текста: 

  // Цвет наведения:

  $HoverColor: #3d5aff;
  $BlueBgHoverColor: #ffffff;
  $NewsTitleHoverColor: #ffffff;
  $WhiteBgHoverLigntColor: #1d2b7d;

  // Заголовки:

  $DarkHeadingColor: #ffffff;
  $WhiteHeadingColor: #1e1e1e;

  // Цвет текста цифр в ProfileComp

  $DarkNumberColor: #ffffff;
  $WhiteNumberColor: #1e1e1e;
  $DarkMenuFontColor: #ffffff;
  $WhiteMenuFontColor: #1e1e1e;
  $BlueButtonFontColor: #3d5aff;
  $DarkBlueButtonFontColor: #1d2b7d;

  // Цвета иконок:

  $IconColor: #747474;

  // Цвета текста форм в SettingsComp:

  $DarkFormFontColor: #747474; 
  $WhiteFormFontColor: #3d5aff;

  // Цвет текста в RaitingComp:

  $RatingFontColor: #747474;

  // Цвет текста кнопок:

  $ButtonFontColor: #ffffff;

  // Цвета которые потом заменятся:

  $UserNameColor: #ffffff;
  $DescColor: #747474;

  // Цвета текста в NewsComp:

  $WhiteNewsTitleColor: #747474;
  $DarkNewsTitleColor: #a5a5a5;